@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --blue-color: #2196f3;
  --gray-color: #757575;
  --white-color: #ffffff;
  --background: #f5f4fa;
}

body {
  font-family: "Roboto", "sans-serif";
  color: #212121;
  width: 1600px;
  font-size: 14px;
}

.header {
  height: 80px;
  padding-right: 215px;
  padding-left: 215px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
}

.logowebstudio {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
}

.linkheader {
  margin: 20px;
  color: black;
}

.linkheader:hover {
  color: var(--blue-color);
}

.contact > .linkemail {
  color: var(--gray-color);
}

.contact > .celnumber {
  color: var(--gray-color);
  cursor: pointer;
}

.celnumber:hover {
  color: var(--blue-color);
}

.linkemail:hover {
  color: var(--blue-color);
}

.icon-mail2 {
  width: 16px;
  height: 12px;
  fill: #afb1b8;
}

.icon-mail2:hover {
  fill: var(--blue-color);
}

.linkheader,
.logowebstudio,
.linkemail {
  text-decoration: none;
}

.solution {
  height: 600px;
  background: url("../images/Imagen17.jpg"), rgba(47, 48, 58, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solution > span {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: var(--white-color);
}

.buttonsolution {
  width: 250px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
  cursor: pointer;
}

.details {
  padding-right: 215px;
  padding-left: 215px;
  display: flex;
  justify-content: space-between;
}

.detaillogo {
  margin: 78px 0px 80px 0px;
  width: 270px;
}

.icons {
  background: var(--background);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-antena,
.icon-reloj,
.icon-diagram,
.icon-astronauta {
  width: 65px;
  height: 70px;
  cursor: pointer;
}

.icon-antena:hover {
  fill: var(--blue-color);
}

.icon-reloj:hover {
  fill: var(--blue-color);
}

.icon-diagram:hover {
  fill: var(--blue-color);
}

.icon-astronauta:hover {
  fill: var(--blue-color);
}

.texticon {
  color: var(--gray-color);
}

.work {
  padding-right: 215px;
  padding-left: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgwork {
  width: 370px;
  height: 294px;
  margin: 5px;
}

.ourteam {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 708px;
}

.team {
  display: flex;
}

h2 {
  font-size: 36px;
}

.teammember {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  margin-left: 20px;
}

.teammemberphoto {
  width: 270px;
  height: 260px;
}

.teammembername,
.teammemberrol {
  font-size: 16px;
}

.teammemberrol {
  color: #757575;
}

.iconredesteam {
  display: flex;
}

.iconrct {
  width: 44px;
  height: 44px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconrct > .icon-instagram {
  fill: #afb1b8;
}

.iconrct > .icon-twitter {
  fill: #afb1b8;
}

.iconrct > .icon-facebook {
  fill: #afb1b8;
}

.iconrct > .icon-linkedin {
  fill: #afb1b8;
}

.iconrct:hover {
  background-color: #2196f3;
}

.iconrct:hover > .icon-instagram {
  fill: var(--white-color);
}

.iconrct:hover > .icon-twitter {
  fill: var(--white-color);
}

.iconrct:hover > .icon-facebook {
  fill: var(--white-color);
}

.iconrct:hover > .icon-linkedin {
  fill: var(--white-color);
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.regularclient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.clients {
  display: flex;
}

.logoclient {
  width: 170px;
  height: 81px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-client {
  width: 106px;
  height: 52px;
  fill: #afb1b8;
  cursor: pointer;
}

.icon-client:hover {
  fill: var(--blue-color);
}

footer {
  height: 252px;
  width: 252;
  background: #2f303a;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 215px;
}

.contacfooter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contacfooter > .linkemail {
  color: var(--white-color);
}

.iconredesfooter {
  display: flex;
  justify-content: center;
}

.iconrcf {
  width: 44px;
  height: 44px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
}

.iconrcf > .icon-instagram {
  fill: #ffffff;
}

.iconrcf > .icon-twitter {
  fill: #ffffff;
}

.iconrcf > .icon-facebook {
  fill: #ffffff;
}

.iconrcf > .icon-linkedin {
  fill: #ffffff;
}

.iconrcf:hover {
  background-color: #2196f3;
}

.suscription {
  display: flex;
  flex-direction: column;
}

.suscription-correo {
  margin-top: 20px;
}
.form-correo {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  background: #2f303a;
  border-radius: 4px;
  color: #ffffff;
  margin-right: 12px;
}

.suscriptionbutton {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  cursor: pointer;
}

.sectionbutton {
  padding-right: 215px;
  padding-left: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 56px;
}

.buttonportafolio {
  height: 38px;
  cursor: pointer;
  background: var(--background);
  color: #212121;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.buttonportafolio:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-right: 215px;
  padding-left: 215px;
}

.projectinfo {
  margin: 8px;
  width: 370px;
  height: 404px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.projectsdetail {
  margin: 20px;
}
.projectsdetail > h3 {
  font-size: 18px;
}

.projectsdetail > p {
  color: var(--gray-color);
  font-size: 16px;
}
/*++++++++++Animacion+++++++++++*/
.animationtext {
  padding: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  width: 290px;
  height: 200px;
  display: none;
  position: absolute;
  }
.projectinfo:hover > .animationtext {
  display: flex;
  animation-name: animacion;
  animation-duration: 250ms;
}
@keyframes animacion {
  0% {
    transform: translateY(430px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*+++++++++++++++++++++++++++++++++++*/

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 20px;
}

.formcontact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formtitulo {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.labelform {
  width: 44px;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
  margin-bottom: 5px;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.formfield {
  display: flex;
  flex-direction: column;
}

.form-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.terminos {
  display: flex;
  align-items: center;
  width: 448px;
  height: 50px;
  justify-content: center;
}

.termtext {
  width: 400px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}

.chkterminos {
  width: 16px;
  height: 15px;
  background: #2196f3;
  border-radius: 2px;
}

.send {
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
